extends layout

block content
    div(ng-controller="UsersCtrl")
        div(ng-view)


    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-resource.min.js")
    script(src="/javascripts/app.js")
    script(src="/javascripts/services.js")
    script(src="/javascripts/controllers.js")